### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# District Summary
# Step 1 get counts for # of schools, students, budget,...
total_schools = school_data['school_name'].count()
total_students = student_data['student_name'].count()
total_district_budget = school_data['budget'].sum()

In [3]:

# Step 2 get average math, reading, and overall scores
avg_math_score = student_data['math_score'].mean()
avg_reading_score = student_data['reading_score'].mean()
overall_average_score = (avg_math_score + avg_reading_score)/2

# Step 3 get %
pct_math_df = student_data.loc[student_data['math_score'] >= 70] 
pct_students_pass_math = ((pct_math_df['math_score'].count())/total_students)*100
pct_reading_df = student_data.loc[student_data['reading_score'] >= 70] 
pct_students_pass_reading = ((pct_reading_df['reading_score'].count())/total_students)*100

In [4]:
# Step 4 put variables above into summary_table dataframe
summary_table = pd.DataFrame.from_records([{"Total Number of Schools": f"{total_schools: ,.0f}", 
                              "Total Number of Students": f"{total_students:,.0f}",
                              "Total District Budget": f"{total_district_budget:,.0f}",
                              "Average Math Score": f"{avg_math_score:.2f}%",
                              "Average Reading Score": f"{avg_reading_score:.2f}%",
                              "Overall Average Score": f"{overall_average_score:.2f}%",
                              "Math Passing Rate":  f"{pct_students_pass_math:.2f}%",
                              "Reading Passing Rate": f"{pct_students_pass_reading:.2f}%"}])
                              
                              
                             
summary_table

,Total Number of Schools,Total Number of Students,Total District Budget,Average Math Score,Average Reading Score,Overall Average Score,Math Passing Rate,Reading Passing Rate
0,15,"39,170","24,649,428",78.99%,81.88%,80.43%,74.98%,85.81%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [5]:
# Step 1: create dataframe with data from school_data
school_summary = school_data_complete[['school_name', 'type', 'size', 'budget', 'math_score', 'reading_score']]
school_summary

              school_name      type  size   budget  math_score  reading_score
0       Huang High School  District  2917  1910635          79             66
1       Huang High School  District  2917  1910635          61             94
2       Huang High School  District  2917  1910635          60             90
3       Huang High School  District  2917  1910635          58             67
4       Huang High School  District  2917  1910635          84             97
...                   ...       ...   ...      ...         ...            ...
39165  Thomas High School   Charter  1635  1043130          90             99
39166  Thomas High School   Charter  1635  1043130          70             95
39167  Thomas High School   Charter  1635  1043130          84             73
39168  Thomas High School   Charter  1635  1043130          90             99
39169  Thomas High School   Charter  1635  1043130          75             95

[39170 rows x 6 columns]

In [10]:
# Step 2: create columns for per_student_budget, passing_math, passing_reading, and passing_overall
per_student_budget = school_summary["budget"]/school_summary["size"]
passing_math_array = np.where(school_summary["math_score"] >= 70, 1, 0)
passing_reading_array = np.where(school_summary["reading_score"] >= 70, 1, 0)
passing_overall_array = np.where(((school_summary["math_score"] + school_summary["reading_score"])/2) >= 70, 1, 0)

# Step 3: change data type in arrays to integer
passing_math_array_int = passing_math_array.astype(int)
passing_reading_array_int = passing_reading_array.astype(int)
passing_overall_array_int = passing_overall_array.astype(int)

# Step 4: convert arrays to series
passing_math = pd.Series(passing_math_array_int)
passing_reading = pd.Series(passing_reading_array_int)
passing_overall = pd.Series(passing_overall_array_int)

In [12]:
# Step 5: add series to dataframe
school_summary.loc[:,"per_student_budget"] = per_student_budget
school_summary.loc[:,"passing_math"] = passing_math
school_summary.loc[:,"passing_reading"] = passing_reading
school_summary.loc[:,"passing_overall"] = passing_overall

# Step 6: group results by school, and get sums and averages
school_summary_one = school_summary.groupby(["school_name", "type", "size", "budget", "per_student_budget"], as_index = False).agg(
    {
        'math_score':'mean',    
        'reading_score': 'mean',
        'passing_math': 'sum',
        'passing_reading': 'sum',
        'passing_overall': 'sum'
    }
)
school_summary_one.head()

,school_name,type,size,budget,per_student_budget,math_score,reading_score,passing_math,passing_reading,passing_overall
0,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,3318,4077,4239
1,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,1749,1803,1850
2,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,1946,2381,2497
3,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,1871,2172,2322
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,1371,1426,1460

In [ ]:
per_student_budget

## Top Performing Schools (By Passing Rate)

In [14]:
# Step 7: with dataset now having one row for each school, calculate % for passing math, reading, overall
school_summary_one["pct_passing_math"] = (school_summary_one["passing_math"]/school_summary_one["size"])*100
school_summary_one["pct_passing_reading"] = (school_summary_one["passing_reading"]/school_summary_one["size"])*100
school_summary_one["pct_passing_overall"] = (school_summary_one["pct_passing_reading"]+school_summary_one["pct_passing_math"])/2

# Step 8: create new dataset to show only percent fields
school_summary_two = school_summary_one.drop(['passing_math', 'passing_reading', 'passing_overall'], axis=1)
school_summary_two.head()

,school_name,type,size,budget,per_student_budget,math_score,reading_score,pct_passing_math,pct_passing_reading,pct_passing_overall
0,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
1,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
2,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
3,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668

* Sort and display the top five schools in overall passing rate

In [23]:
school_summary_two = school_summary_two.sort_values(by=["pct_passing_overall"], ascending = False)
school_summary_two.head(5).style.format({
    'budget': '${:,.0f}'.format,
    'per_student_budget': '${:,.2f}'.format,
    'math_score': '{:.2f}'.format,    
    'reading_score': '{:.2f}'.format,
    'pct_passing_math': '{:.2f}%'.format,    
    'pct_passing_reading': '{:.2f}%'.format,    
    'pct_passing_overall': '{:.2f}%'.format,    
})
#school_summary_two.head()

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [25]:
school_summary_two = school_summary_two.sort_values(by=["pct_passing_overall"])
school_summary_two.head(5).style.format({
    'budget': '${:,.0f}'.format,
    'per_student_budget': '${:,.2f}'.format,
    'math_score': '{:.2f}'.format,    
    'reading_score': '{:.2f}'.format,
    'pct_passing_math': '{:.2f}%'.format,    
    'pct_passing_reading': '{:.2f}%'.format,    
    'pct_passing_overall': '{:.2f}%'.format,    
})

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [26]:
# Step 1:  Create new columns for school_summary_math
school_summary_math = school_data_complete
school_summary_math['9th'] = np.where(school_data_complete['grade'] == '9th', school_data_complete['math_score'], np.NaN)
school_summary_math['10th'] = np.where(school_data_complete['grade'] == '10th', school_data_complete['math_score'], np.NaN)
school_summary_math['11th'] = np.where(school_data_complete['grade'] == '11th', school_data_complete['math_score'], np.NaN)
school_summary_math['12th'] = np.where(school_data_complete['grade'] == '12th', school_data_complete['math_score'], np.NaN)
school_summary_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,9th,10th,11th,12th
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,79.0,NaN,NaN,NaN
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,NaN,NaN,NaN,61.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,NaN,NaN,NaN,60.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,NaN,NaN,NaN,58.0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,84.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,NaN,NaN,NaN,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,NaN,70.0,NaN,NaN
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,84.0,NaN,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,NaN,90.0,NaN,NaN
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,NaN,NaN,75.0,NaN

In [27]:
# Step 2: Group by school_name
school_summary_math = school_summary_math.groupby(["school_name"]).agg(
    {
        '9th':'mean', 
        '10th': 'mean',
        '11th': 'mean',
        '12th': 'mean',
    }
)
school_summary_math

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
# Step 1:  Create new columns for school_summary_math
school_summary_reading = school_data_complete
school_summary_reading['9th'] = np.where(school_data_complete['grade'] == '9th', school_data_complete['reading_score'], np.NaN)
school_summary_reading['10th'] = np.where(school_data_complete['grade'] == '10th', school_data_complete['reading_score'], np.NaN)
school_summary_reading['11th'] = np.where(school_data_complete['grade'] == '11th', school_data_complete['reading_score'], np.NaN)
school_summary_reading['12th'] = np.where(school_data_complete['grade'] == '12th', school_data_complete['reading_score'], np.NaN)
school_summary_reading

In [ ]:
# Step 2: Group by school_name
school_summary_reading = school_summary_reading.groupby(["school_name"]).agg(
    {
        '9th':'mean', 
        '10th': 'mean',
        '11th': 'mean',
        '12th': 'mean',
    }
)
school_summary_reading

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [ ]:
# Create dataframe for student scores by per pupil spending
school_summary_spending = school_summary_one
school_summary_spending["Spending Ranges (Per Student)"] = pd.cut(school_summary_spending["per_student_budget"], spending_bins, labels=group_names)
school_summary_spending

In [ ]:
# Step 2: Group by spending per student
school_summary_spending = school_summary_spending.groupby(["Spending Ranges (Per Student)"]).agg(
    {
        'math_score':'mean', 
        'reading_score': 'mean',
        'pct_passing_math': 'mean',
        'pct_passing_reading': 'mean',
        'pct_passing_overall': 'mean',

    }
)
school_summary_spending

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Step 1:  Create dataframe for student scores by per pupil spending
school_summary_size = school_summary_one
school_summary_size["School Size"] = pd.cut(school_summary_size["size"], size_bins, labels=group_names)
school_summary_size

In [ ]:
# Step 2: Group by spending per student
school_summary_size = school_summary_size.groupby(["School Size"]).agg(
    {
        'math_score':'mean', 
        'reading_score': 'mean',
        'pct_passing_math': 'mean',
        'pct_passing_reading': 'mean',
        'pct_passing_overall': 'mean',

    }
)
school_summary_size

## Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
# Step 1: Create dataframe for summary by school type
school_summary_type = school_summary_one
# Step 2: Group by spending per student
school_summary_type = school_summary_type.groupby(["type"]).agg(
    {
        'math_score':'mean', 
        'reading_score': 'mean',
        'pct_passing_math': 'mean',
        'pct_passing_reading': 'mean',
        'pct_passing_overall': 'mean',

    }
)
school_summary_type